:root {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
}


/* Font applied to body. Gradient background image here. */

body {
    font-family: var(--font);
    background-color: #030816;
}


/* Nav Bar. Applies flex & design rules. Applies styling to links using font, list style, font size, color, and paddng*/

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 25px;
    gap: 40px;
    color: rgb(255, 255, 255);
    padding: 30px 8.33%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}


/* Rules for links. On hover, visited links, and active links, color and text decoration changes*/

ul a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

ul a:active {
    color: rgb(255, 182, 113);
    text-decoration: none;
}


/* Sets the width of the main section of the webpage. */

main {
    margin-left: 10px;
    width: 75%;
}


/* Positions card with name and profile picture on left */

.card {
    margin-left: 20px;
    position: fixed;
}


/* Sets color, margins, font and size for name in card */

.intro {
    color: white;
    margin-left: 400px;
    margin-top: 50px;
    height: 600px;
    font-family: 'Righteous', cursive;
}

#welc {
    font-size: 120px;
    text-align: center;
    padding: 20px;
    color: pink;
}

#me {
    font-size: 100px;
    text-align: right;
    padding: 10px;
}

#dev {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
}

#me:hover {
    color: pink;
}

.arrow {
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    animation: move 3s infinite alternate-reverse ease-in-out;
}

.arrow a {
    text-decoration: none;
}

.arrow a:hover {
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 150px;
    transform: translateY(-10px);
}

.arrow a:visited {
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 150px;
    text-decoration: none;
    transform: translateY(-10px);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}


/* Sets positioning and border rules for profile image */

aside img {
    width: 250px;
    border-radius: 50%;
    margin: 20px;
}


/* Creates vertical white line on right of page*/

.vl {
    border-right: thick solid #fff;
    margin-right: -140px;
}


/* Styles the headings vertically, white, and on right of page */

h2 {
    margin-top: 20px;
    margin-right: -45px;
    font-size: 30px;
    float: right;
    writing-mode: vertical-rl;
    color: white;
}


/* Sets position, margins and font rules for my 'About Me' section */

#description {
    margin-left: 395px;
    margin-top: 60px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 2;
    color: #fff;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


/* Changes opacity of About Me on hovering over text */

#description:hover {
    opacity: 1;
}


/* Sets rules for entire Work section. Sets flex wrap for content */

#work {
    margin-left: 410px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}


/* Sets specific rules for Code Refactor section. Makes this image take up 100% of space on that line */

#refactor {
    width: 100%;
    border: 5px solid rgb(255, 192, 55);
    margin-right: 10px;
    color: white;
    position: relative;
}


/* Changes opacity of Refactor image on hover */

#refactor img:hover {
    opacity: 1;
    z-index: 2;
}


/* Work titles text positioned over image */

.titles {
    position: absolute;
    bottom: 35px;
    font-size: 25px;
    line-height: 1.3;
    background-color: rgb(255, 192, 55);
    padding: 10px;
    z-index: 1;
}


/* Sets size rules for Code Refactor image */

.lg-img {
    width: 100%;
    height: auto;
    opacity: 0.6;
}


/* Sets size rules for remaining work sections. Sets width to 50% so there are 2 per line */

.container {
    position: relative;
    width: 50%;
}


/* Sets size rules for remaining images */

.container img {
    width: 400px;
    height: 175px;
    margin-top: 60px;
    opacity: 0.6;
    border: 5px solid rgb(255, 192, 55);
    padding: 0px;
    justify-content: space-between;
    display: flex;
    flex: 1 1 auto;
}


/* Changes opacity of images on hover */

.container img:hover {
    opacity: 1;
    z-index: 2;
}


/* Rules for Contact section links. */

#socials {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 120px;
    padding-bottom: 80px;
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 45px;
    text-decoration: underline;
    line-height: 1.5px;
}


/* Styling for footer*/

footer {
    text-align: center;
    color: rgb(119, 119, 119);
    font: var(--font);
}


/* Media Screen rules for responsive layout*/

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }
    #refactor {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    #refactor {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    #refactor {
        width: 100%;
    }
}